# Web Framework & API
fastapi[all]
uvicorn
python-dotenv

# Dashboard & UI
streamlit
pandas
plotly
psutil          # Required for the 'No-Terminal' System Monitor logic

# AI & Intelligence Layer
google-generativeai

# Networking & Scraper
requests
httpx
beautifulsoup4
validators
urllib3
playwright

# Database & Queue
supabase
redis